*{box-sizing: border-box;}
body{
    background-color: #FAF8F5;
    font-family:'Courier New', Courier, monospace;
}
.container{
    background-color: white;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    min-height: 800px; 
}
h1 {
    margin-top: 0;
    text-align: center;
    color: #600047;
    font-weight: bold;
}

input{
    padding: 15px;
    border-radius: 4px;
    background-color: #cfd5da;
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

button#calculate-button{
    justify-content: center;
    width: 48.65%;
    padding: 20px;
    background-color: #76008e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 1px;
    font-size: 15px;
    font-weight: bold;
}

button#calculate-button:hover{
    background-color: #580263;
}

button#reset-button{
    justify-content: center;
    width: 48.65%;
    padding: 20px;
    background-color: #492177;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 1px;
    font-size: 15px;
    font-weight: bold;
}

button#reset-button:hover{
    background-color: #2f154d;
}

button#tip-button{
    justify-content: center;
    width: 48.65%;
    padding: 25px;
    background-color: #63007746;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 1px;
    font-size: 15px;
    font-weight: bold;

}

button#tip-button:hover{
    background-color: #600046;
}

label{
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-total{
    background-color: white;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 0 0px 3px rgba(0,0,0,0.2);
    min-height: 50px; 
    
}

.tip-row, 
.total-row {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: ;
    margin-bottom: 0%;
    font-weight: bold;

}
.each-guest {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
    font-style: italic;
}