*{box-sizing: border-box;}
body{
    background-color: #FAF8F5;
    font-family:'Courier New', Courier, monospace;
}
.container{
    z-index: 2;
    background-color: white;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    min-height: 200px; 
    position: relative;
}

.tab-container {
    z-index: 1;
    position: absolute;
    max-width: 450px;
    bottom: 410px;        /* stick to the bottom */
    left: 1250px;           /* stick to the right */
    background-color: #ffffff00;
    padding: 15px 20px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    gap: 15px;
}

.tab-button {
    background-color: #63007700;
    background: #63007746;
    color: #000000;
    padding: 15px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.tab-button.active {
    background-color: #600046;
    color: #fff;
}

.tab-button:hover{
    background-color: #6000468a;
    color: #fff;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: #600047;
    font-weight: bold;
}

#bill-amount{
    padding: 15px;
    border-radius: 4px;
    background-color: #cfd5da;
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}

#bill-amount::placeholder {
  opacity: .6;
  color: #000;
}
#bill-amount:focus::placeholder {
  color: transparent;
}


button#reset-button {
  display: block;          /* forces it onto its own line */
  width: 100%;             /* stretches across parent container */
  padding: 20px;
  background-color: #7336b8ab;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

button#reset-button:hover {
  background-color: #7336b8;
}

input#custom-tip {
    justify-content: center;
    width: 48.65%;
    padding: 25px;
    background-color: #63007746;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 1px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

}

input#custom-tip.active {
  background-color: #600046; 
  color: #fff;
}

#custom-tip::placeholder { opacity: .6; color: #000; }
#custom-tip:focus { 
    outline: none; 
    background-color: #63007746; 
    color: #000000; 
}
#custom-tip:focus::placeholder { color: transparent; } 

label{
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-total{
    background-color: white;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 0 0px 3px rgba(0,0,0,0.2);
    min-height: 50px; 
    
}

.tip-row, 
.total-row, 
.total-amount-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.label-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.total-amount-number,
.tip-number,
.total-number {
    color: #76008e;
    font-size: 22px;
    font-weight: bold;
}

.each-guest {
    font-size: 12px;
    color: #666;
    font-style: italic;
    
}

output {
    display: flex;
    text-align: right;
    align-items: center;
    margin-left: auto;
    font-size: 24px;
    font-weight: bold;
    color: #76008e;
}

.input-row {
    margin-bottom: 15px;
}

.tip-buttons {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tip-button {
    width: 48.5%;
    margin-bottom: 10px;
    padding: 25px;
    background-color: #63007746;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.tip-button.active {
    background-color: #600046;
    color: #fff;
}

.guest-count label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.guest-count input {
    appearance: none;
    width: 100%;
    height: 4px;
    background: #cfd5da;
    cursor: pointer;
    margin-block: 10px;

}

.guest-count input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #600046;
    border: 2px solid var(--thumb-border-color);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    cursor: pointer;

}

.button-row {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}